export GITHUB_CHECK_SUITE_ID=35913725701
export GITHUB_REPOSITORY="SonarSource/sonarcloud-core"
export GITHUB_TOKEN=$(gh auth token)
export GITHUB_ACTOR_ID=64004037
export GITHUB_OUTPUT=/tmp/output
vault status >/dev/null 2>&1 || {
  echo "Please run: vault-login-prod"
  exit 1
}
export SLACK_TOKEN=$(vault kv get --field token development/kv/slack)
export SLACK_CHANNEL=squad-eng-xp-tests
export SLACK_WEBHOOK=$(vault kv get --field webhook development/kv/slack)
